/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1366px){
	.reviews_slider .owl-prev{
		left: 0;
	}
	.reviews_slider .owl-next{
		right: 0;
	}
}
@media only screen and (max-width: 1220px){
	.section_vertical_img img{
		max-width: 84%;
	}
	.section_vertical_img{
		vertical-align: bottom;
	}
}
@media only screen and (max-width: 1199px){

	.first_screen{
		min-height: 530px;
	}

	.first_screen_label{
		bottom: 30px;
	}

	.title1 {
    	font-size: 60px;
    }
    .section_vertical_img img {
	    max-width: 85%;
	    padding-right: 20px;
	}
	.app_features .section_vertical>*,
	.app_features .vertical_inner>*{
		display: table-cell;
    	width: 50%;
	}
	.app_features .subtitle {
	    margin-bottom: 20px;
	    font-size: 20px;
	    line-height: 25px;
	}
	.app_features_list_box li .icon{
		font-size: 50px;
	}
	.app_features_list_box li {
	    margin-bottom: 20px;
	    padding-left: 80px;
	}
	.reviews_slider{
		margin: 45px 0 0;
	}
}

@media only screen and (max-width: 991px) {

	body{min-width:768px;}

	.navigation>li:not(:last-child){
		padding-right: 30px;
	}

	.service{
		padding: 0;
	}
	.app_google_box a:not(:last-child){
		margin-bottom: 10px;
		float: left;
	}
	.first_screen_title{
		font-size: 75px;
	}

	.section_vertical>*,
	.vertical_inner>*{
		display: block;
		width: 100%;
	}
	.left_blumarine{
		margin-bottom: 20px;
	}
	.google_play {
	    float: right;
	    margin-top: 0;
	}
	.first_screen_label{
		z-index: 9;
	}
	.title1 {
    	font-size: 50px;
    }
    .video_btn{
    	width: 60px;
    	height: 60px;
    	font-size: 25px;
    }
    .video_btn i {
	    line-height: 60px;
	}
	.first_screen_inner h2,
	.first_screen_inner .subtitle{
		text-align: center;
	}
	.first_screen_inner .app_google_box{
		margin: auto;
	}
}

@media only screen and (max-width: 767px) {

	body{min-width:420px;}

	[class*='col-']:not(:last-child){
		margin-bottom: 30px;
	}

	/*mavigation*/

	nav{
		position: fixed;
		z-index: 9;
		width: 200px;
		top: 50px;
		bottom: 0;
		background-color: rgba(32,32,32,0.85);
		border-top: 1px solid #0066cc;
		right: -200px;
		text-align: left;
		padding: 0 20px 20px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	nav.open_menu{
		right: 0;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	.nav_btn{
		display: block;
	}

	.navigation{
		display: block;
	}

	.navigation>li{
		float: none;
	}

	.navigation>li:not(:last-child){
		padding-right: 0;
	}

	/*end of navigation*/



	.section_offset2:not(:first-child){
		padding-top: 50px;
	}

	.section_offset{
		padding: 55px 0;
	}

	.blackout{
		padding: 55px 0;
	}

	.first_screen_title{
		font-size: 60px;
	}

	.first_screen_subtitle{
		font-size: 30px;
	}

	.btn{
		font-size: 20px;
	}

	.subtitle{
		font-size: 20px;
		line-height: 26px;
	}

	h2{
		font-size: 40px;
	}

	.blackout[class*='bg'],.blackout2[class*='bg']{
		background-position: 50% 0 !important;
		background-attachment: scroll;
	}

	.project_box{
		margin-bottom: 0;
	}

	footer,
	.section_vertical__title,
	.app_features{
		text-align: center;
	}

	.copyright{
		float: none;
	}

	.app_features .section_vertical_img{
		display: none;
	}
	.section_vertical_text {
	    padding: 55px 20px;
	}
	.reviews_slider {
    	padding: 40px 50px;
    }
    .app_features_list_box{
    	margin: auto;
    	text-align: left;
    }
    .social_list2 li:not(:last-child) {
	    margin-right: 30px;
	}

}


@media only screen and (max-width: 650px) {

	.social_list2{
		margin-top: -10px;
	}
	.social_list2 li{
		width: calc(50% - 40px);
		margin: 5px 10px;
		display: block;
	}
	.social_list2 li:not(:last-child) {
	    margin-right: 10px;
	}
	.social_list2 li:nth-child(odd){
		float: left;
	}
	.social_list2 li:nth-child(even){
		float: right;
	}
	.social_list2 li a,
	.social_list2 li a i {
	    line-height: 40px;
    }
    .social_section_box{
    	padding: 15px 0;
    	min-height: 90px;
    }

}
@media only screen and (max-width: 555px) {
	.review > p {
	    font-size: 18px;
	    line-height: 30px;
    }
    .reviews_with_img_it{
    	margin-right: 10px;
    	width: 55px;
    }
    .review_name ,
    .post_name {
	    font-size: 14px;
	    line-height: 25px;
   	}
   	.post_name {
	    font-size: 14px;
    }
}
@media only screen and (max-width: 495px) {

	.video_btn {
	    width: 40px;
	    height: 40px;
	    font-size: 18px;
	}
	.video_btn i {
	    line-height: 36px;
	}

}
@media only screen and (max-width: 479px) {

	body{min-width:320px;}

	.first_screen_subtitle{
		font-size: 20px;
	}

	.btn,
	.subtitle{
		font-size: 18px;
	}

	h2{
		font-size: 35px;
	}

	.first_screen_title{
		font-size: 50px;
	}

	.service_title{
		font-size: 18px;
		margin-bottom: 10px;
	}

	.contact_phone{
		font-size: 30px;
	}

	.contact_email{
		font-size: 18px;
	}
	.section_vertical_img img {
	    max-width: 84%;
	}
	.owl-prev, .owl-next {
	    width: 40px;
	    height: 40px;
    }
    .owl-prev:before,
    .owl-next:before {
	    font-size: 22px;
	    line-height: 38px;
    }
    .reviews_slider {
	    padding: 25px 45px;
	}

}
@media only screen and (max-width: 430px) {

	.app_store,
	.google_play ,
	.app_google_box a:not(:last-child){
	    float: none;
	    display: inline-block;
	}
	.first_screen_inner .subtitle {
    	margin-bottom: 35px;
    }
    .icons_container .col-xs-6{
    	width: 100%;
    }
    .title1 {
	    font-size: 40px;
	}
	.reviews_with_img_it {
	    float: none;
	    margin: 0 auto 10px;
	}
	.reviews_with_img_text {
	    text-align: center;
	    float: none;
	}
	.review_name, .post_name,
	.first_screen_inner .app_google_box{
		text-align: center;
	}
	.section_offset {
	    padding: 35px 0;
	}
	.social_list2 li a{
		font-size: 18px;
	}
	.social_list2 li a i{
		padding-right: 5px;
		font-size: 22px;
	}
	.copyright{
		white-space: normal;
	}
	.ab_title {
	    font-size: 40px;
	}
}